html{
  width: 100%;
  height: 100%;
}
body {
  background: -moz-linear-gradient(270deg, rgba(6, 46, 72, 1) 0%, rgba(0, 9, 16, 1) 100%);
  /* ff3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(6, 46, 72, 1)), color-stop(100%, rgba(0, 9, 16, 1)));
  /* safari4+,chrome */
  background: -webkit-linear-gradient(270deg, rgba(6, 46, 72, 1) 0%, rgba(0, 9, 16, 1) 100%);
  /* safari5.1+,chrome10+ */
  background: -o-linear-gradient(270deg, rgba(6, 46, 72, 1) 0%, rgba(0, 9, 16, 1) 100%);
  /* opera 11.10+ */
  background: -ms-linear-gradient(270deg, rgba(6, 46, 72, 1) 0%, rgba(0, 9, 16, 1) 100%);
  /* ie10+ */
  background: linear-gradient(180deg, rgba(6, 46, 72, 1) 0%, rgba(0, 9, 16, 1) 100%);
  /* w3c */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#062e48', endColorstr='#000910', GradientType=0);
  /* ie6-9 */
  width: 100%;
  height: 100%;
  color: white;
  margin: 10px;
}

iframe {
  border-radius: 15px;
}