/*NUNITO*/
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-Black.ttf') format('truetype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-BlackItalic.ttf') format('truetype');
  font-weight: 900;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-ExtraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-ExtraLightItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-LightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-SemiBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}
/*FIN NUNITO*/
/*COLORES FUENTE*/
.font-azul{
  color: #00d7fc;
  font-weight: 900;
}
.font-amarilla{
  color: #ffc33e;
  font-weight: 900;
}
.font-verde{
  color: #07dd00;
  font-weight: 900;
}
.font-rosa{
  color: #ff1743;
  font-weight: 900;
}
.font-morada{
  color: #d221ff;
  font-weight: 900;
}
.bold{
  font-weight: 900;
}
.bolder{
  font-weight: bolder;
}
.center-text{
  text-align: center;
}

/*FIN COLORES FUENTE*/

html{
  width: 100%;
  height: 100%;
}
*{
  box-sizing: border-box;
  transition: .25s;
}
body {
  font-family: 'Nunito', sans-serif;
  font-weight: normal;
  font-size: 28px;
  /*
  background: -moz-linear-gradient(270deg, rgba(6, 46, 72, 1) 0%, rgba(0, 9, 16, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(6, 46, 72, 1)), color-stop(100%, rgba(0, 9, 16, 1)));
  background: -webkit-linear-gradient(270deg, rgba(6, 46, 72, 1) 0%, rgba(0, 9, 16, 1) 100%);
  background: -o-linear-gradient(270deg, rgba(6, 46, 72, 1) 0%, rgba(0, 9, 16, 1) 100%);
  background: -ms-linear-gradient(270deg, rgba(6, 46, 72, 1) 0%, rgba(0, 9, 16, 1) 100%);
  background: linear-gradient(180deg, rgba(6, 46, 72, 1) 0%, rgba(0, 9, 16, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#062e48', endColorstr='#000910', GradientType=0);
  */
  overflow: hidden;
  background-color: #000d2d;
  width: 100%;
  height: 100%;
  color: white;
  margin: 0px;
}
b{
  font-weight: 900;
}
#fondonegro{
  position: absolute;
  top:0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: black
}
#iframecontainer{
  background-color: #000d2d;
  width: 1920px;
  height: 1080px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%)
}
span.Typewriter__wrapper {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 70%;
}
iframe {
 margin:auto;
}
center{

}
.imagecontainer {
  text-align: center;
  position: absolute;
  width: 100%;
  top: 150px;
  z-index: -1;
}
/*ESTILOS CUADROS DE TEXTO */
.containertexto{
  width: 100%;
  bottom: 0;
  position: absolute;
}
.areatexto {
  /* background: rgba(255,255,255,.2); */
  background-color: #011c3a;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 277px;
  padding: 20px;
  margin: 0px 48px;
  border: solid 3px #00d7fc;
  border-bottom: none;
  position: relative;
}
.escena2 .areatexto {
  background-color: #040b05;
  border: solid 3px #07dd00;
  border-bottom: none;
}
.globotexto {
  width: 85%;
}
.globostexto {
  height: 100%;
  display: flex;
  align-items: center;
}
.bordertexto {
  background-color: black;
  color: #07dd00;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  border: solid 2px;
  z-index: 40;
  width: 490px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%,-50%);
}

.bordertextoright {
  background-color: #000d2d;
  color: #00d7fc;
  font-weight: bold;
  padding: 10px;
  border-radius: 23px;
  text-align: center;
  border: solid 2px;
  z-index: 40;
  width: 410px;
  position: absolute;
  left: 50%;
  transform: translate(-163%,-50%);
  top: 0;
}
.globonext {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}
.textnext {
  position: absolute;
  right: 0;
  top: -50px;
  font-weight: bold;
  color: #00c3e7;
}
/*.globonext:hover, .globonext:active, .globonext:focus{
  transform: translateX(10px)
}*/

/*FIN ESTILOS CUADROS DE TEXTO */
.tituloescena {
  width: 310px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;
  border: solid 2px #ff1743;
  border-top: none;
  text-align: center;
  margin: auto;
  padding: 5px;
  z-index: 1000!important;
}
.escena2 .tituloescena {
  /*width: 481px;
  border-bottom-left-radius: 24px;
  border-bottom-right-radius: 24px;*/
  border: solid 2px #07dd00;
  border-top: none;
  z-index: 1000!important;
  /*position: absolute;
  left: 48px;
  padding: 10px 0 20px 20px;*/
}
.escenanumero {
  font-size: 36px;
  font-weight: bolder;
  color: #ff1743;
}
.nombreescena {
  font-size: 24px;
  font-weight: bold;
  color: white;
}

.nav {
  position: absolute;
  top: 5px;
  background: rgba(0,0,0,.7);
  padding: 5px;
  cursor: pointer;
  width: 40px;
  text-align: center;
  border-radius: 10px;
  display: none;
}
#prev{
  right: 55px;
}
#next{
  right: 5px;
}
.personaje{
  float: left;
  margin-right: 50px;
}
.personaje img{
  width: 234px;
  float: left;
}
/**/
.containerbotones {
  position: absolute;
  width: 100%;
  display: flex;
  align-items:center;
  bottom: 470px;
  padding: 0 300px;
  justify-content: space-around;
}
.circulo {
  border-radius: 50%;
  background-color: #000c22;
  color: #1e2124;
  width: 17vh;
  height: 17vh;
  text-align: center;
  border: solid 6px white;
  position: relative;
  font-size: 139px;
}
.circulo .pie {
  color: antiquewhite;
  /* transform: translateY(30px); */
  font-size: 30px;
  transform: translate(-50%, 140%);
}
.circulo .linea1{
  color: #ffc33e;
}
.circulo .linea2{
  color: #ff1743;
}
.circulo .linea2{

}
.circulo p {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.circulo.cian {
  border: solid 6px #00d7fc;
  background-color: #000c22;
}
.circulo.verde {
  border: solid 6px #07dd00;
  background-color: #050b06;
}
.circulo.amarillo {
  border: solid 6px #ffc33e;
  background-color: #171309;
}
.circulo.magenta {
  border: solid 6px #d221ff;
  background-color: #1b0d1f;
}
.circulo.rojo {
  background-color: #1b0d1f;
  border: solid 6px #ff1743;
}
.circulo.icono {
  font-size: 0;
}
.outerglow{
  -webkit-box-shadow: 0px 0px 12px 5px rgba(255,255,255,0.78);
  -moz-box-shadow: 0px 0px 12px 5px rgba(255,255,255,0.78);
  box-shadow: 0px 0px 12px 5px rgba(255,255,255,0.78);
}
.circulo:hover{
  -webkit-box-shadow: 0px 0px 12px 5px rgba(255,255,255,0.5);
  -moz-box-shadow: 0px 0px 12px 5px rgba(255,255,255,0.5);
  box-shadow: 0px 0px 12px 5px rgba(255,255,255,0.5);
}
#menu{
  position: absolute;
  left: 0;
  top: 40px;
  background-color: #200e1a;
  border: #a0586c solid thin;
  border-left: none!important;
  padding: 10px;
  overflow: hidden;
  color: #a0586c;
  width: 150px;
  height: auto;
  text-align: center;
  -webkit-border-top-right-radius: 20px;
  -webkit-border-bottom-right-radius: 20px;
  -moz-border-radius-topright: 20px;
  -moz-border-radius-bottomright: 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}
#tooglemenu div {
  background-color: #a0586c;
  height: 2px;
  margin: 7px auto;
  width: 30px;
}
.hidemenu ul{
  height: 0;
  opacity: 0;
}
.hidemenu{
  width: 109px!important;
  height: 66px!important;
  background-color: unset!important;
  border: none!important;
}
.hidemenu #tooglemenu{

}
#menu ul{
  list-style: none;
  padding: 0;
  margin: 0;
}
#menu ul a{
  text-decoration: none;
  color: #a0586c;
  padding: 0;
  margin: 0;
}
/*colorizer*/
.colorize-red{
  filter: brightness(50%) sepia(100%) saturate(9900%) hue-rotate(345deg);
}
.rotate45{
  transform: rotate(45deg)
}