@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-BlackItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-ExtraBold.ttf') format('truetype');
  font-weight: bolder;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-ExtraBoldItalic.ttf') format('truetype');
  font-weight: bolder;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-ExtraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-ExtraLightItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-Light.ttf') format('truetype');
  font-weight: lighter;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-LightItalic.ttf') format('truetype');
  font-weight: lighter;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-RegularItalic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-SemiBold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Nunito';
  src: url('../utils/nunito/Nunito-SemiBoldItalic.ttf') format('truetype');
  font-weight: 700;
  font-style: italic;
}



html{
  width: 100%;
  height: 100%;
}
*{
  box-sizing: border-box;
}
body {
  font-family: 'Nunito', sans-serif;

  /*
  background: -moz-linear-gradient(270deg, rgba(6, 46, 72, 1) 0%, rgba(0, 9, 16, 1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(6, 46, 72, 1)), color-stop(100%, rgba(0, 9, 16, 1)));
  background: -webkit-linear-gradient(270deg, rgba(6, 46, 72, 1) 0%, rgba(0, 9, 16, 1) 100%);
  background: -o-linear-gradient(270deg, rgba(6, 46, 72, 1) 0%, rgba(0, 9, 16, 1) 100%);
  background: -ms-linear-gradient(270deg, rgba(6, 46, 72, 1) 0%, rgba(0, 9, 16, 1) 100%);
  background: linear-gradient(180deg, rgba(6, 46, 72, 1) 0%, rgba(0, 9, 16, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#062e48', endColorstr='#000910', GradientType=0);
  */
  overflow: hidden;
  background-color: #000d2d;
  width: 100%;
  height: 100%;
  color: white;
  margin: 0px;
}

iframe {
  width: 100%;
  height: 100%;
}
/*ESTILOS CUADROS DE TEXTO */
.containertexto{
  width: 100%;
  bottom: 0;
  position: absolute;
}
.areatexto {
  background: rgba(255,255,255,.3);
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  height: 100px;
  padding: 20px;
  margin: 0 60px;
  border: solid thick cyan;
  border-bottom: none;
}
.globotexto {
  width: 85%;
}
.next {
  position: absolute;
  right: 20px;
  bottom: 20px;
}
/*FIN ESTILOS CUADROS DE TEXTO */
.nav {
  position: absolute;
  top: 5px;
  background: black;
  padding: 5px;
  cursor: pointer;
}
#prev{
  right: 30px;
}
#next{
  right: 5px;
}