body{
  overflow: hidden;
  text-align: center;
  margin: 100px 0;
}
a{
  text-decoration: none;
}
img{
  margin: auto;
}
.titulo{
  width: 100%;
  font-family: Nunito;
  font-size: 82px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.02;
  letter-spacing: 1.48px;
  text-align: center;
  color: #ff1743;
}
.subtitulo{
    font-family: 'Times New Roman', Times, serif;
    width:100%;
    font-size: 34px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.21;
    letter-spacing: 0.85px;
    text-align: center;
    color: white;
}
.anos{
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 40px;
}
hr{
  width:50%;
  border: #ff1743 solid thin;
}


.iniciar{
    width: 100%;
    font-family: Nunito;
    font-size: 34px;
    font-weight: 800;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.35;
    letter-spacing: normal;
    text-align: center;
    color: #00D7FC;
}