$rojo: #ff1743;
$amarillo: #ffc33e;
$grisClaro: #ddd;
$azul: #00d7fc;
$verde: #07dd00;
body {
    padding: 0;
    margin: 0; 
}
img {
    display: block;
}
.colorAmarillo {
    color: $amarillo;
}
.colorVerde {
    color: $verde;
}
.tuboInicio, 
.manivela, 
.finTubo {
    position: absolute;
}
.tuboInicio {
    top: 151px;
}
.finTubo {
    right: -99px;
    top: 162px;
}
.manivela {
    left: -140px;
    top: 161px;
}
#juego1 {
    margin: 0 auto;
    width: 1920px;
    height: 1080px;
    #my-canvas {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    #niv1Ok {
        background: url(../img/palomita.png) no-repeat center center rgba(0,68,213,0.7);
        border-radius: 50%;
        position: absolute;
        display: none;
        height: 165px;
        bottom: 11px;
        width: 182px;
        left: -13px;
        z-index: 1;
    }
    #niv2Ok {
        background: url(../img/palomita.png) no-repeat center center rgba(0,68,213,0.7);
        border-radius: 50%;
        position: absolute;
        display: none;
        bottom: 197px;
        height: 102px;
        width: 104px;
        left: 18px;
        z-index: 1;
    }
    #niv3Ok {
        background: url(../img/palomita.png) no-repeat center center rgba(0,68,213,0.7);
        border-radius: 50%;
        position: absolute;
        display: none;
        bottom: 318px;
        height: 75px;
        width: 80px;
        z-index: 1;
        left: 28px;
    }
    #btnDescripcion {
        background-color: rgba(0,0,0,0);
        position: absolute;
        text-align: right;
        color: $azul;
        font-size: 30px;    
        cursor: pointer;
        outline: none;
        display: none;
        height: 150px;
        border: none;
        width: 163px;
        right: 30px;
        top: -67px;
        z-index: 100;
        span {
            padding-bottom: 30px;
            display: block;
        }
    }
    .notaMiddle {
        display: none;
        border: solid $verde 3px;
        background-color: #222;
        border-radius: 30px;
        margin-left: -150px;
        text-align: center;
        position: absolute;
        font-size: 29px;
        color: #07dd00;
        height: 50px;
        width: 300px;
        top: -25px;
        left: 50%;
        line-height: 43px;
        img {
            display: inline-block;
            vertical-align: middle;
            width: 25px;
        }
    }
    #chorroFinal{
        transform: rotate(120deg);
        position: absolute;
        outline: none;
        display: none;
        width: 120px;
        right: -130px;
        top: 20px;
    }
    &.contenedor {
        width: 1920px;
        height: 1080px;
    }
    .cabecera {
        position: relative;
        display: block;
        height: 150px;
        padding: 1px;
        width: 100%;
    }
    .gameDesc {
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom: $azul 2px solid;
        border-right: $azul 2px solid;
        border-left: $azul 2px solid;
        padding: 14px 30px 0px;
        position: absolute;
        display: block;
        width: 260px;
        height: 102px;
        left: 50%;
        margin-left: -130px;
        h2 {
            text-transform: uppercase;
            line-height: 1.2em;
            color: $rojo;
            font-size: 36px;
            margin: 0;
            text-align: center; 
        }
        h3 {
            text-transform: uppercase;
            text-align: center;
            line-height: 1em;
            font-size: 23px;
            color: #FFF;
            margin: 0;
        }
    }
    .gameActionWrp {
        height: 626px;
        width: 100%;
        .row {
            margin: 0 auto;
            display: flex;
            width: 600px;
        }
        .col {
            flex-basis: 150px;
            img {
                transition: transform 0.3s ease-in-out;
            }
        }
    }
    .gameBoard {
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 900px;
    }
    .gameboardWrpr {
        margin: 0 auto;
        height: 640px;
        width: 1620px;
        #imgPremio {
            margin: 0 auto;
        }
    }
    .gameinst {
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-right: solid 2px $azul;
        border-left: solid 2px $azul;
        border-top: solid 2px $azul;
        background-color: #011c3a;
        align-items: center;
        position: absolute;
        padding-top: 10px;
        margin: 0 auto;
        display: flex;
        width: 1824px;
        height: 277px;
        left: 48px;
        bottom: 0;
        .elenaimg {
            flex-basis: 320px; 
        }
        .instTxt {
            flex-basis: 1500px;
            font-size: 28px;
        }
    }
    .jarrones {
        display: inline-block;
        vertical-align: top;
        width: 350px;
        left: -48px;
        top: 151px;
        .imgNiveles {
            position: relative;
            height: 605px;
            width: 239px;
            img {
                position: absolute;
                display: none;
                width: 189px;
                left: -17px;
                top: 120px;
            }
            .cantaroIntro {
                display: block;
            }
        }
    }
    
    .gameActionWrp {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 620px;
        height: 640px;
    }
}