$rojo: #ff1743;
$amarillo: #ffc33e;
$grisClaro: #ddd;
$azul: #00d7fc;
body {
    padding: 0;
    margin: 0; 
}
#juego1 {
    .contenedor {
        width: 1920px;
        height: 1080px;
    }
    .cabecera {
        position: relative;
        display: block;
        height: 150px;
        padding: 1px;
        width: 100%;
    }
    .gameDesc {
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom: $rojo 2px solid;
        border-right: $rojo 2px solid;
        border-left: $rojo 2px solid;
        display: block;
        height: 85px;
        width: 330px;
        padding: 20px 30px;
        position: absolute;
        left: 30px;
        h2 {
            text-transform: uppercase;
            line-height: 1.2em;
            color: $amarillo;
            font-size: 30px;
            margin: 0;
        }
        h3 {
            line-height: 1em;
            margin: 12px 0 0;
            font-size: 23px;
            color: #ddd;
        }
    }
    .gameActionWrp {
        height: 626px;
        width: 100%;
        .row {
            margin: 0 auto;
            display: flex;
            width: 600px;
        }
        .col {
            flex-basis: 150px;
            img {
                transition: transform 0.3s ease-in-out;
            }
        }
    }
    .gameBoard {
        display: inline-block;
        vertical-align: top;
        width: 1000px;
    }
    .jarrones {
        display: inline-block;
        vertical-align: top;
        width: 350px;
        &.dos img {
            transform: scaleX(-1) rotate(2deg);
            max-width: 100%;
            width: 100%;
        }
    }
    .gameActionWrp {
        justify-content: center;
        align-items: center;
        width: 1200px;
        height: 100%;
    }
}