$rojo: #ff1743;
$amarillo: #ffc33e;
$grisClaro: #ddd;
$azul: #00d7fc;
$verde: #07dd00;
body {
    padding: 0;
    margin: 0; 
}
img {
    display: block;
}
#juego1 {

    #btnDescripcion {
        display: none;
        border: solid $verde 3px;
        background-color: #333;
        border-radius: 30px;
        margin-left: -100px;
        text-align: center;
        position: absolute;
        font-size: 21px;
        cursor: pointer;
        color: $verde;
        height: 50px;
        width: 200px;
        top: -25px;
        left: 50%;
    }
    #chorroFinal{
        transform: rotate(32deg);
        position: absolute;
        outline: none;
        display: none;
        width: 120px;
        right: 30px;
    }
    .contenedor {
        width: 1920px;
        height: 1080px;
    }
    .cabecera {
        position: relative;
        display: block;
        height: 150px;
        padding: 1px;
        width: 100%;
    }
    .gameDesc {
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom: $rojo 2px solid;
        border-right: $rojo 2px solid;
        border-left: $rojo 2px solid;
        padding: 20px 30px 0px;
        position: absolute;
        display: block;
        height: 128px;
        width: 440px;
        left: 30px;
        h2 {
            text-transform: uppercase;
            line-height: 1.2em;
            color: $amarillo;
            font-size: 30px;
            margin: 0;
        }
        h3 {
            line-height: 1em;
            font-size: 23px;
            color: #ddd;
            margin: 0;
        }
    }
    .gameActionWrp {
        height: 626px;
        width: 100%;
        .row {
            margin: 0 auto;
            display: flex;
            width: 600px;
        }
        .col {
            flex-basis: 150px;
            img {
                transition: transform 0.3s ease-in-out;
            }
        }
    }
    .gameBoard {
        display: inline-block;
        vertical-align: top;
        position: relative;
        width: 900px;
    }
    .gameboardWrpr {
        margin: 0 auto;
        height: 640px;
        width: 1620px;
    }
    .gameinst {
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-right: solid 2px $azul;
        border-left: solid 2px $azul;
        border-top: solid 2px $azul;
        align-items: center;
        position: relative;
        padding-top: 10px;
        margin: 0 auto;
        display: flex;
        width: 1820px;
        .elenaimg {
            flex-basis: 320px; 
        }
        .instTxt {
            flex-basis: 1500px;
            font-size: 23px;
        }
    }
    .jarrones {
        display: inline-block;
        vertical-align: top;
        width: 350px;
        .imgNiveles {
            position: relative;
            height: 605px;
            width: 239px;
            img {
                position: absolute;
                display: none;
                left: 0;
                top: 0;
            }
            .cantaroIntro {
                display: block;
            }
        }
    }
    
    .gameActionWrp {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 620px;
        height: 640px;
    }
}