$rojo: #ff1743;
$amarillo: #ffc33e;
$grisClaro: #ddd;
$azul: #00d7fc;
body {
    padding: 0;
    margin: 0; 
}
img {
    display: block;
}
#juego1 {
    .contenedor {
        width: 1920px;
        height: 1080px;
    }
    .cabecera {
        position: relative;
        display: block;
        height: 150px;
        padding: 1px;
        width: 100%;
    }
    .gameDesc {
        border-bottom-right-radius: 30px;
        border-bottom-left-radius: 30px;
        border-bottom: $rojo 2px solid;
        border-right: $rojo 2px solid;
        border-left: $rojo 2px solid;
        display: block;
        height: 105px;
        width: 330px;
        padding: 20px 30px;
        position: absolute;
        left: 30px;
        h2 {
            text-transform: uppercase;
            line-height: 1.2em;
            color: $amarillo;
            font-size: 30px;
            margin: 0;
        }
        h3 {
            line-height: 1em;
            font-size: 23px;
            color: #ddd;
            margin: 0;
        }
    }
    .gameActionWrp {
        height: 626px;
        width: 100%;
        .row {
            margin: 0 auto;
            display: flex;
            width: 600px;
        }
        .col {
            flex-basis: 150px;
            img {
                transition: transform 0.3s ease-in-out;
            }
        }
    }
    .gameBoard {
        display: inline-block;
        vertical-align: top;
        width: 900px;
    }
    .gameboardWrpr {
        margin: 0 auto;
        height: 640px;
        width: 1620px;
    }
    .gameinst {
        border-top-right-radius: 30px;
        border-top-left-radius: 30px;
        border-right: solid 2px $azul;
        border-left: solid 2px $azul;
        border-top: solid 2px $azul;
        padding-top: 10px;
        margin: 0 auto;
        display: flex;
        width: 1820px;
        .elenaimg {
            flex-basis: 320px; 
        }
        .instTxt {
            flex-basis: 1500px;
            font-size: 23px;
        }
    }
    .jarrones {
        display: inline-block;
        vertical-align: top;
        width: 350px;
        &.dos img {
            transform: scaleX(-1) rotate(2deg);
            max-width: 100%;
            width: 100%;
        }
    }
    .gameActionWrp {
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        width: 620px;
        height: 640px;
    }
}