body{
  overflow: hidden;
}
.imagecontainer{
  height: 100%;
}
.areatexto {
  /* background: rgba(255,255,255,.2); */
  background-color: #242947;
  border: solid 3px #ff385e;
  border-bottom: none;
}
.textnext {
  color: #ff385e;
}