#juego{
  position: absolute;
  left:50%;
  top:35%;
  width: 1067px;
  height: 703px;
  display: block;
  transform: translate(-50%,-42%) scale(0.9);
  background-image: url(../img/fondojuegodes.png);
  background-repeat: no-repeat;
}
.pieza{
  position: absolute;
}
.areatexto {
  /*height: 207px!important;*/
}
.bordertexto {
  border-color: #d221ff!important;
  color:#ff385e!important;
  background-color: #19121a!important;

}
.areatexto {
  border: solid 3px #d221ff!important;
  border-bottom: none!important;
  background-color: #19121a!important;
}
.textnext{
  color:#d221ff!important;
}
#confetti-holder{
  position: absolute;
  left:0;
  top:0;
  width: 1920px;
  height: 1080px;
  display: block;
  pointer-events: none;

}