.objeto, .opcion{
  transition-duration: 500ms
}
.objeto{
  position: absolute;
  transform-origin: top left;
}
.opcion {
  margin: 0px 26px;
}
.activo{
  filter: brightness(130%) grayscale(0);
}
.inactivo{
  filter:  brightness(50%) grayscale(1);
}
.equipado{
  filter:  brightness(30%) grayscale(1);
  pointer-events: none;
}

#cuarto{
  position: absolute;
  left:50%;
  top:50%;
  width: 1200px;
  height: 620px;
  display: block;
  transform: translate(-50%,-60%) scale(1);
}
#tapiz{
  position: absolute;
  left:0;
  top:0;
  width: 1200px;
  height: 620px;
  display: block;
  background-image: url(../images/fondo.png);
  background-size: contain;
}
#confetti-holder{
  position: absolute;
  left:0;
  top:0;
  width: 1920px;
  height: 1080px;
  display: block;
  pointer-events: none;

}
#fondo{
  position: absolute;
  left:0;
  top:0;
  width: 1200px;
  height: 620px;
  display: block;
  background-image: url(../images/Salon_NoFondoNiObjetosColor.png);
}
#opciones {
  position: absolute;
  left: 50%;
  top: -40px;
  display: flex;
  transform: translateX(-50%);
}
#ventana{

}
#equipar{
  transform: translate(-50%,-80%);
}
.globotexto {
  display: flex;
  align-items: center;
}
div#contador {
}
.areatexto {
  /* background: rgba(255,255,255,.2); */
  background-color: #181212!important;
  border: solid 3px #ffc33e!important;
  border-bottom: none!important;
}
.textnext{
  color: #ffc33e!important;
}
.bordertexto {
  background-color: black;
  color: #ffc33e!important;
  font-weight: bold;
  padding: 10px;
  border-radius: 20px;
  text-align: center;
  border: solid 2px;
  z-index: 40;
  width: 490px;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%,-50%);
}