.objeto, .opcion{
  transition-duration: 500ms
}
.objeto{
  position: absolute;
  transform-origin: top left;
}

.activo{
  filter: brightness(130%) grayscale(0);
}
.inactivo{
  filter:  brightness(50%) grayscale(1);
}
.equipado{
  filter:  brightness(30%) grayscale(1);
  pointer-events: none;
}

#cuarto{
  position: absolute;
  left:50%;
  top:50%;
  width: 1200px;
  height: 620px;
  display: block;
  transform: translate(-50%,-60%) scale(0.8);
  /*background-image: url(../img/fondojuego.png);*/
}
#tapiz{
  position: absolute;
  left:0;
  top:0;
  width: 1200px;
  height: 620px;
  display: block;
  background-image: url(../images/fondo.png);
  background-size: contain;
}
#fondo{
  position: absolute;
  left:0;
  top:0;
  width: 1200px;
  height: 620px;
  display: block;
  background-image: url(../images/Salon_NoFondoNiObjetosColor.png);
}
#opciones{
  position: absolute;
  left: 1450px;
  top:10px;
}
#ventana{

}
#equipar{
  transform: translate(-50%,-80%);
}
.globotexto {
  display: flex;
  align-items: center;
}
div#contador {
  font-size: 70px;
}