* {
  transition-duration: 0s !important; }

body {
  padding: 0;
  margin: 0; }

#juego2 .header {
  display: block;
  position: relative;
  width: 1920px;
  height: 110px; }
#juego2 .contenedor {
  position: relative;
  height: 1080px;
  margin: 0 auto;
  width: 1920px; }
#juego2 #btnDescripcion {
  background-color: transparent;
  position: absolute;
  text-align: right;
  color: #07dd00;
  font-size: 30px;
  cursor: pointer;
  outline: none;
  display: none;
  height: 150px;
  border: none;
  width: 163px;
  right: 30px;
  top: -67px;
  z-index: 100; }
  #juego2 #btnDescripcion span {
    padding-bottom: 30px;
    display: block; }
#juego2 #dropzone img {
  transition: background-color 0.3s ease-in-out;
  background-color: rgba(255, 255, 255, 0);
  border: dashed 1px rgba(255, 255, 255, 0); }
  #juego2 #dropzone img.flip {
    transform: scaleX(-1); }
  #juego2 #dropzone img.interaccion:hover {
    background-color: rgba(255, 255, 255, 0.1);
    border: dashed 2px rgba(255, 255, 255, 0.1);
    border-radius: 15px; }
#juego2 .interaccion {
  transition: 0.3s ease-in-out;
  touch-action: none;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  position: absolute; }
#juego2 #menuCabezas .btn:nth-child(1) {
  padding: 8px 0 0 10px; }
#juego2 #menuCabezas .btn:nth-child(2) {
  padding: 18px 0 0 0; }
#juego2 #menuCabezas .btn:nth-child(3) {
  padding: 10px 0 0 10px; }
#juego2 #menuCabezas .btn:nth-child(4) {
  padding: 14px 0 0 0; }
#juego2 #menuCabezas .btn:nth-child(5) {
  padding: 5px 0 0 0; }
#juego2 #menuCabezas .btn:nth-child(7) {
  padding: 12px 0 0 9px; }
#juego2 #menuCuerpo .btn:nth-child(3) {
  padding-top: 10px; }
#juego2 #menuCuerpo .btn:nth-child(5) {
  padding: 5px 0 0 23px; }
#juego2 #menuCuerpo .btn:nth-child(6) {
  padding-top: 24px; }
#juego2 #menuCuerpo .btn:nth-child(7) {
  padding-left: 14px; }
#juego2 #menuPatas .btn:nth-child(2) {
  padding-left: 40px; }
#juego2 #menuPatas .btn:nth-child(4) {
  padding: 8px 0 0 40px; }
#juego2 #menuPatas .btn:nth-child(7) {
  padding-left: 23px; }
#juego2 #menuColas .btn:nth-child(2) {
  padding-left: 20px; }
#juego2 #menuColas .btn:nth-child(3) {
  padding-left: 20px; }
#juego2 #menuColas .btn:nth-child(6) {
  padding-left: 20px; }
#juego2 #menuOrejas .btn:nth-child(1) {
  padding-left: 17px; }
#juego2 #menuOrejas .btn:nth-child(2) {
  padding: 20px 0 0 10px; }
#juego2 #menuOrejas .btn:nth-child(3) {
  padding-left: 30px; }
#juego2 #menuOrejas .btn:nth-child(4) {
  padding-left: 10px; }
#juego2 #menuOrejas .btn:nth-child(5) {
  padding-left: 12px; }
#juego2 #menuOrejas .btn:nth-child(7) {
  padding-left: 30px; }
#juego2 #menuStickers .btn:nth-child(1) {
  padding: 12px 0 0 2px; }
#juego2 #menuStickers .btn:nth-child(2) {
  padding: 10px 0 0 3px; }
#juego2 #menuStickers .btn:nth-child(3) {
  padding-top: 38px; }
#juego2 #menuStickers .btn:nth-child(4) {
  padding-top: 38px; }
#juego2 #menuStickers .btn:nth-child(5) {
  padding: 19px 0 0 5px; }
#juego2 #menuStickers .btn:nth-child(6) {
  padding-top: 10px; }
#juego2 #menuStickers .btn:nth-child(7) {
  padding-top: 50px; }
#juego2 #my-canvas {
  display: none;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0; }
#juego2 .colorAmarillo {
  color: #ffc33e; }
#juego2 .colorVerde {
  color: #07dd00; }
#juego2 .wrapNav {
  justify-content: center;
  align-items: flex-start;
  display: flex; }
  #juego2 .wrapNav .navGame {
    flex-basis: 1180px;
    position: relative;
    padding-top: 20px;
    height: 240px;
    left: 50px; }
    #juego2 .wrapNav .navGame ul {
      justify-content: center;
      list-style: none;
      display: flex;
      width: 100%;
      padding: 0 0 10px 0;
      margin: 0 0 10px 0;
      border-bottom: 2px solid #ffc33e; }
      #juego2 .wrapNav .navGame ul li {
        flex-basis: auto;
        margin: 0 5px; }
    #juego2 .wrapNav .navGame .btnNav {
      font-size: 34px;
      text-decoration: none;
      cursor: pointer;
      padding: 0 15px;
      display: block;
      color: #ff1743; }
      #juego2 .wrapNav .navGame .btnNav:hover {
        color: #07dd00; }
      #juego2 .wrapNav .navGame .btnNav.activo {
        color: #07dd00; }
  #juego2 .wrapNav .sbMenuItemsCont {
    justify-content: center;
    display: none; }
    #juego2 .wrapNav .sbMenuItemsCont.activo {
      display: flex; }
    #juego2 .wrapNav .sbMenuItemsCont .btn {
      position: relative;
      flex-basis: 140px;
      margin: 0 10px;
      height: 160px; }
      #juego2 .wrapNav .sbMenuItemsCont .btn.empty::before {
        border-color: #ffc33e; }
      #juego2 .wrapNav .sbMenuItemsCont .btn::before {
        border-radius: 80px;
        border: solid #07dd00 2px;
        position: absolute;
        display: block;
        height: 120px;
        width: 120px;
        content: "";
        z-index: 5;
        left: 0;
        top: 0; }
      #juego2 .wrapNav .sbMenuItemsCont .btn img {
        position: relative;
        display: block;
        z-index: 10;
        width: 144px; }
  #juego2 .wrapNav .submenus {
    padding-top: 10px; }
#juego2 .gameSceneCont {
  border-radius: 30px;
  margin: 0 auto;
  width: 1620px;
  height: 626px; }
#juego2 .footer {
  border-top: #07dd00 2px solid;
  border-right: #07dd00 2px solid;
  border-left: #07dd00 2px solid;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
  position: absolute;
  bottom: 0;
  left: 50%;
  margin-left: -912px;
  width: 1824px;
  height: 277px;
  display: flex; }
  #juego2 .footer .pedro {
    text-align: center;
    flex-basis: 270px;
    padding-top: 30px;
    min-width: 270px; }
  #juego2 .footer .txtFooter {
    flex-basis: 1535px;
    line-height: 1.15em;
    font-size: 28px;
    color: #fefefe;
    font-weight: bolder; }
  #juego2 .footer .footerRight {
    flex-basis: 300px; }
#juego2 .dragg {
  transition: 0.3s ease-in-out;
  touch-action: none;
  -webkit-transform: translate(0px, 0px);
  transform: translate(0px, 0px);
  position: absolute; }
#juego2 .drop-active.gameSceneCont {
  background-color: rgba(255, 255, 255, 0.04);
  border: 2px rgba(255, 255, 255, 0.1) dashed; }
#juego2 .in15 {
  z-index: 15; }
#juego2 .in10 {
  z-index: 10; }
#juego2 .in8 {
  z-index: 8; }
#juego2 .in5 {
  z-index: 5; }
#juego2 .in3 {
  z-index: 3; }
#juego2 .rectnguloTop {
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  border-bottom: solid 2px #07dd00;
  border-right: solid 2px #07dd00;
  border-left: solid 2px #07dd00;
  padding: 14px 30px 0px;
  position: absolute;
  display: block;
  width: 260px;
  height: 102px;
  left: 50%;
  margin-left: -130px; }
  #juego2 .rectnguloTop h1 {
    text-align: center;
    padding-top: 10px;
    color: #ffc33e;
    font-size: 36px;
    margin: 0; }
  #juego2 .rectnguloTop h2 {
    font-size: 22px;
    color: #fefefe;
    margin: 0; }
#juego2 .wrprBorrar {
  position: relative;
  flex-basis: 220px;
  height: 170px;
  z-index: 100;
  left: 10px; }
  #juego2 .wrprBorrar .borrar {
    background: url(../img/basurero.png) no-repeat center bottom;
    background-size: 40px;
    padding-top: 30px;
    height: 160px;
    width: 100%; }

/*# sourceMappingURL=styles.css.map */
