$verde: #07dd00;
$amarillo: #ffc33e;
$rojo: #ff1743;
$bco: #fefefe;

* {
    transition-duration: 0s !important;
}

body {
    padding: 0;
    margin: 0;
}

#juego2 {
    .header {
        display: block;
        position: relative;
        width: 1920px;
        height: 110px;
    }
    .contenedor {
        position: relative;
        height: 1080px;
        margin: 0 auto;
        width: 1920px;
    }
    #btnDescripcion {
        background-color: rgba(0,0,0,0);
        position: absolute;
        text-align: right;
        color: #07dd00;
        font-size: 30px;    
        cursor: pointer;
        outline: none;
        display: none;
        height: 150px;
        border: none;
        width: 163px;
        right: 30px;
        top: -67px;
        z-index: 100;
        span {
            padding-bottom: 30px;
            display: block;
        }
    }
    #dropzone {
        img {
            transition: background-color 0.3s ease-in-out;
            background-color: rgba(255,255,255,0);
            border: dashed 1px rgba(255,255,255,0);
            &.flip {
                transform: scaleX(-1);
            }
            &.interaccion:hover {
                background-color: rgba(255,255,255,0.1);
                border: dashed 2px rgba(255,255,255,0.1);
                border-radius: 15px;
            }

        }
    }
    .interaccion {
        transition: 0.3s ease-in-out;
        touch-action: none;
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
        position: absolute
    }
    #menuCabezas {
        .btn {
            &:nth-child(1){
                padding: 8px 0 0 10px;
            }
            &:nth-child(2){
                padding: 18px 0 0 0;
            }
            &:nth-child(3){
                padding: 10px 0 0 10px;
            }
            &:nth-child(4){
                padding: 14px 0 0 0;
            }
            &:nth-child(5){
                padding: 5px 0 0 0;
            }
            &:nth-child(7){
                padding: 12px 0 0 9px;
            }
            
        }
    }
    #menuCuerpo {
        .btn {
            &:nth-child(3){
                padding-top: 10px;
            }
            &:nth-child(5){
                padding: 5px 0 0 23px;
            }
            &:nth-child(6){
                padding-top: 24px;
            }
            &:nth-child(7){
                padding-left: 14px;
            }
            
        }
    }

    #menuPatas {
        .btn {
            &:nth-child(2){
                padding-left: 40px;
            }
            &:nth-child(4){
                padding: 8px 0 0 40px;
            }
            &:nth-child(7){
                padding-left: 23px;
            }
            
        }
    }

    #menuColas {
        .btn {
            &:nth-child(2){
                padding-left: 20px;
            }
            &:nth-child(3){
                padding-left: 20px;
            }
            &:nth-child(6){
                padding-left: 20px;
            }
            
        }
    }

    #menuOrejas {
        .btn {
            &:nth-child(1){
                padding-left: 17px;
            }
            &:nth-child(2){
                padding: 20px 0 0 10px;
            }
            &:nth-child(3){
                padding-left: 30px; 
            }
            &:nth-child(4){
                padding-left: 10px;
            }
            &:nth-child(5){
                padding-left: 12px;
            }
            &:nth-child(7){
                padding-left: 30px;
            }
            
        }
    }

    #menuStickers{
        .btn {
            &:nth-child(1){
                padding: 12px 0 0 2px;
            }
            &:nth-child(2){
                padding: 10px 0 0 3px;
            }
            &:nth-child(3){
                padding-top: 38px;
            }
            &:nth-child(4){
                padding-top: 38px;
            }
            &:nth-child(5){
                padding: 19px 0 0 5px;
            }
            &:nth-child(6){
                padding-top: 10px;
            }
            &:nth-child(7){
                padding-top: 50px;
            }
            
        }
    }
    #my-canvas {
        display: none;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    .colorAmarillo {
        color: $amarillo;
    }
    .colorVerde {
        color: $verde;
    }
    .wrapNav {
        justify-content: center;
        align-items: flex-start;
        display: flex;
        .navGame {
            flex-basis: 1180px;
            position: relative;
            padding-top: 20px;
            height: 240px;
            left: 50px;
            ul {
                justify-content: center;
                list-style: none;
                display: flex;
                width: 100%;
                padding: 0 0 10px 0;
                margin: 0 0 10px 0;
                border-bottom: 2px solid $amarillo;
                li {
                    flex-basis: auto;
                    margin: 0 5px;
                }
            }
            .btnNav {
                font-size: 34px;
                text-decoration: none;
                cursor: pointer;
                padding: 0 15px;
                display: block;
                color: $rojo;
                &:hover {
                    color: $verde;
                }
                &.activo {
                    color: $verde;
                }
            }
        }
        .sbMenuItemsCont {
            justify-content: center;
            display: none;
            &.activo {
                display: flex;
            }   
            .btn {
                position: relative;
                flex-basis: 140px;
                margin: 0 10px;
                height: 160px;
                &.empty {
                    &::before {
                        border-color: $amarillo;
                    }
                }
                &::before {
                    border-radius: 80px;
                    border: solid $verde 2px;
                    position: absolute;
                    display: block;
                    height: 120px;
                    width: 120px;
                    content: "";
                    z-index: 5;
                    left: 0;
                    top: 0;
                }
                img {
                    position: relative;
                    display: block;
                    z-index: 10;
                    width: 144px;
                    // &.can-drop {
                    //     // width: 319px;
                    // }
                }
            }
        }
        .submenus {
            padding-top: 10px;
        }
    }
    .gameSceneCont {
        border-radius: 30px;
        margin: 0 auto; 
        width: 1620px;
        height: 626px;
    }
    .footer {
        border-top: $verde 2px solid;
        border-right: $verde 2px solid;
        border-left:  $verde 2px solid;
        border-top-right-radius: 25px;
        border-top-left-radius: 25px;
        position: absolute;
        bottom: 0;
        left: 50%;
        margin-left: -912px;
        width: 1824px;
        height: 277px;
        display: flex;
        .pedro {
            text-align: center;
            flex-basis: 270px;
            padding-top: 30px;
            min-width: 270px;
        }
        .txtFooter {
            flex-basis: 1535px;
            font-size: 28px;
            color: $bco;
            font-weight: bolder;
        }
        .footerRight {
            flex-basis: 300px;
        }
    }
    .dragg {
        transition: 0.3s ease-in-out;
        touch-action: none;
        -webkit-transform: translate(0px, 0px);
                transform: translate(0px, 0px);
        position: absolute
    }
    .drop-active {
        &.gameSceneCont {
            background-color: rgba(255,255,255,0.04);
            border: 2px rgba(255,255,255,0.1) dashed;
        }
    }
    .in15 {
        position: absolute;
        z-index: 15;
    }
    .in10 {
        position: absolute;
        z-index: 10;
    }
    .in8 {
        position: absolute;
        z-index: 8;
    }
    .in5 {
        position: absolute;
        z-index: 5;
    }
    .in3 {
        position: absolute;
        z-index: 3;
    }
    .in2 {
        position: absolute;
        z-index: 2;
    }
    .rectnguloTop {
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
        border-bottom: solid 2px $verde;
        border-right: solid 2px $verde;
        border-left: solid 2px $verde;
        padding: 14px 30px 0px;
        position: absolute;
        display: block;
        width: 260px;
        height: 102px;
        left: 50%;
        margin-left: -130px;
        h1 {
            text-align: center;
            padding-top: 10px;
            color: $amarillo;
            font-size: 36px;
            margin: 0;
        }
        h2 {
            font-size: 22px;
            color: $bco;
            margin: 0;
        }
    }
    .wrprBorrar {
        position: relative;
        flex-basis: 220px;
        height: 170px;
        z-index: 100;
        left: 10px;
        .borrar {
            background: url(../img/basurero.png) no-repeat center bottom;
            background-size: 40px;
            padding-top: 30px;
            height: 160px;
            width: 100%;
        }
    }
}